/eeg_data
/tests/__pycache__
.DS_Store
venv
/raw
/final_dataset/nsd_coco_conversion.csv
/final_dataset/nsd_expdesign.mat
/final_dataset/data/*
/final_dataset/stimulus/*
/final_dataset/generator
/final_dataset/generator_*